*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1;
}

body {
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  min-height: 100vh;
  padding: 2rem;
}

.home {
  align-items: center;
}

.home .logo {
  display: block;
  width: 12rem;
  height: 12rem;
  margin-bottom: 2rem;
}

.home h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.home h1 strong {
  font-weight: 400;
}

@media (max-width: 480px) {
  .home .logo {
    width: 8rem;
    height: 8rem;
  }
}

.section .content {
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.section h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 300;
}

.project {
  color: #fff;
  background-color: #2196f3;
}

.project .list {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.project .item {
  margin: 1rem;
  padding: 1.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: inherit;
  background-clip: padding-box;
  transition: background-color 300ms;
}

.project .item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 480px) {
  .project .item {
    padding: 1rem;
  }
}

.member {
  color: #fff;
  background-color: #1976d2;
}

.member .list {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.member .item {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 24rem;
  margin: 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: inherit;
  transition: background-color 300ms;
}

.member .item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.member .avatar {
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 0.25rem;
}

.member .detail {
  flex: 1;
  overflow: hidden;
  padding: 0 2rem;
}

.member .name,
.member .description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.member .name {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}

.member .description {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 480px) {
  .member .item {
    width: 100%;
  }

  .member .avatar {
    width: 6rem;
    height: 6rem;
  }

  .member .detail {
    padding: 0 1.5rem;
  }

  .member .name {
    font-size: 1.5rem;
  }
}

.contact {
  color: #fff;
  background-color: #0d47a1;
}

.contact .list {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.contact .item {
  margin: 1rem;
  padding: 1.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: inherit;
  background-clip: padding-box;
  transition: background-color 300ms;
}

.contact .item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 480px) {
  .contact .item {
    padding: 1rem;
  }
}

.footer {
  min-height: 0;
  color: #fff;
  background-color: #000;
}

.footer .copyright {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 480px) {
  .footer .copyright span {
    display: block;
  }
}
